body {
   background-color: #F4AFB4;
   font-family: Courier, monospace;
   color: #2F4858;
}

h1 {
   font-size:30px;
   background-color: #fce921;
   border: solid 10px #fce921;
}

h2 {
   font-size:20px;
}

ol{
   list-style-type: decimal;
   list-style-position: inside;
   color: #393E41;
}

img {
   border: solid 10px #fce921;
}

a {
   background-color: #fce921;
}
